<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Confirmation</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header class="bg-dark text-light">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Add client to project confirmation</h1>
          </div>
        </div>
      </div>
    </header>
    <main class="container mt-4">
      <section id="form" class="bg-light py-5">
        <div class="container">
          {% if errormessage %}
          <div class="alert alert-danger" role="alert">{{errormessage}}</div>
          {% endif %}
          <form action="/add-clientToProject-confirmation" method="post">
            <div class="form-group">
              <label for="projectId">ProjectId: {{projectId}}</label>
            </div>
            <div class="form-group">
              <label for="clientId">ClientId: {{clientId}}</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </section>
    </main>
  </body>
</html>
