<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Clients</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header class="bg-dark text-light">
      <div class="container">
        <div class="row">
          <div class="col-md-12 py-4">
            <h1>Our Clients</h1>
          </div>
        </div>
      </div>
    </header>
    <main class="container mt-4">
      <section id="clients" class="mt-4">
        {% if clients and clients.length > 0 %}
        <table class="table">
          <thead>
            <tr>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Phone Number</th>
              <th scope="col">Address</th>
            </tr>
          </thead>
          <tbody>
            {% for client in clients %}
            <tr>
              <td>{{client.first_name}}</td>
              <td>{{client.last_name}}</td>
              <td>{{client.phone_number}}</td>
              <td>{{client.address}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %} There are no clients. {% endif %}
      </section>
      <div class="text-center py-4">
        <button type="button" onclick="history.back()" class="btn btn-primary">
          Back
        </button>
      </div>
    </main>
  </body>
</html>
